*~
.Rhistory
.RData
*.Rout
*.err
*.out
*.Rda
*.rds
*.rds.*
*.corrupt*
*.tmp
*.pdf

**/storage/
**/full/output/checkpointed_result_index*
**/full/output/after_*_processes.csv

!instances/*/analysis/output/figures/*.tex